@import "tailwindcss";
@theme {
  --breakpoint-xs: 450px;
  --breakpoint-2xs: 370px;
}

:root {
  --gradient-color: linear-gradient(141deg, #00c853 0%, #00b0ff 62.41%);
  --gradient-color-2: linear-gradient(141deg, #00b0ff 0%, #00c853 62.41%);
  --primary-section-color: rgba(221, 244, 255, 1);
  --secondary-section-color: rgb(245, 245, 245);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}
