@import "tailwindcss";
@theme {
  --breakpoint-xs: 450px;
  --breakpoint-2xs: 370px;
}

@layer components {
  .pulse-animation {
    animation: pulse 0.5s ease-in-out 2;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
}

:root {
  --gradient-color: linear-gradient(141deg, #00c853 0%, #00b0ff 62.41%);
  --gradient-color-2: linear-gradient(141deg, #00b0ff 0%, #00c853 62.41%);
  --primary-section-color: rgba(221, 244, 255, 1);
  --secondary-section-color: rgb(245, 245, 245);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.scroll-mt-24 {
  scroll-margin-top: 6rem;
}

@media (min-width: 1024px) {
  body {
    zoom: 85%;
  }

  .excluded {
    zoom: 117.65%;
  }
}
